body {

    color: #f7f7f7;
    font-family: 'Franklin Gothic Medium';
  }
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }

  ul {
    list-style: none;
  }

p {
    padding: 20px 20px 20px 20px;
}

button{
  padding: 5px 5px 5px 5px;
}

  footer {
    padding: 75px 75px 75px 75px;
  }